@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Josefin+Sans&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}
body {
    font-family: Josefin sans;
    font-weight: 300; 
}