@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Josefin+Sans&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}
body {
    font-family: Josefin Sans;
    font-weight: 300; 
    color: #596e79;
}

/* Headings and logo */

h1,h2 {
    font-family: Joefin sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#logo  {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
      }
/* Line height for header secion, used body and logo id tags layout presented in multiples of 75  */
#menu #logo  {
    line-height: 75px;
    text-align: center;
}    
#menu li {      
    float: right;
    list-style-type: none;  
    margin-right: 30px;
    
}
#menu a {
    text-decoration: none;
    color: inherit
    
}
/* hover function add 1px underline */
#menu a:hover{
    border-bottom: 1px solid #596e79;
}


/* Cover Text Styling boilerplate*/

#cover-text, #cover-text h2 {
    color: #fff;
   }

/* Hero Image */
#hero-image {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url('../images/lego-hero.jpg');
    background-size: cover;
    overflow: hidden;
}


/* Cover Text */ 
#cover-text {
    font-size: 150%;
    font-family: Josefin sans, sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 30px;
    background-color: rgba(199, 177, 98, .8);
    
/* Padding from bottom of hero image section */
    bottom: 30px;
    right: 150px;
/*Position relative to hero image */
    position: absolute;
}
#cover text > h3 h4 {
    text-align: right;
}

/* Club info section styling left and right */

#club-info {
    height: 600px;
}
#info-left {
    padding-top: 25px;
    width: 50%;
    float: left;
    background-color: #c7b198;
 }
 #info-right {
     padding-top: 25px;
     width: 50%;
     float: right; 
     background-color: #dfd3c3;

 }

 /* Styling the Page Break */

 hr {
     border-top: 1px solid #596e79;
     width: 100%;
     margin: 2px 0;
 }

 /* Sytling the right info headings */
 #info-right-header {
     width: 66%;
     float: left;
     line-height: 25px;
     clear: both;
     margin-bottom: 50px 
 }
 #info-right-header h2 p {
     text-align: right;
 }