@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Josefin+Sans&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}
body {
    font-family: Josefin Sans;
    font-weight: 300; 
    color: #596e79;
}

/* Headings and logo */

h1,h2 {
    font-family: Joefin sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#logo  {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: #596e79;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
      }
/* Line height for header secion, used body and logo id tags layout presented in multiples of 75  */
#menu #logo  {
    line-height: 75px;
    text-align: center;
}    
#menu li {      
    float: right;
    list-style-type: none;  
    margin-right: 30px;
    margin-top: 15px;
    
    
}
#menu a {
    text-decoration: none;
    color: inherit;
    
}
/* hover function add 1px underline */
#menu a:hover{
    border-bottom: 1px solid #596e79;
}


/* Cover Text Styling boilerplate*/

#cover-text, #cover-text h2 {
    color: #fff;
   }

/* Hero Image */
#hero-image {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url('../images/lego-hero.jpg');
    background-size: cover;
    overflow: hidden;
}


/* Cover Text */ 
#cover-text {
    font-size: 150%;
    font-family: Josefin sans, sans-serif;
    letter-spacing: 3px;
    width: 300px;
    height: 150px;
    padding-top: 15px;
    padding-left: 30px;
   padding-bottom: 30px;
    
    background-color: rgba(199, 177, 98, .8);
    
/* Padding from bottom of hero image section */
    bottom: 130px;
    right: 150px;
/*Position relative to hero image */
    position: absolute;
}
#cover text > h3 {
    text-align: right;
}

/* Club info section styling left and right */

#club-info {
    height: 600px;
}
#info-left {
    padding-top: 15px;
    width: 50%;
    float: left;
    
 }
 #info-right {
     padding-top: 15px;
     width: 50%;
     float: right; 
     

 }

 /* Styling the Page Break */
hr {
 border-bottom: 3px solid #596e79;
 margin: 0px 2px;
 margin-bottom: 7px;
 margin-top: 0%;
}
 #hr-one {
     width: 44%;
 }
 #hr-two {
     width: 54%;
 }
 #hr-three {
     width: 60%;
 }
#hr-four {
    width: 75%;
}
#hr-five {
    width: 49%;    
}    
}
 /* Sytling the right info headings */
 #info-right-header {
     width: 66%;
     float: left;
     line-height: 25px;
     clear: both;
     margin-bottom: 50px 
     
 }
 #info-right-header h2 p {
     text-align: right;
 }

/* Swap-shop section header */   
#swap-shop {
    text-align: center;
    font-size: 300%;
    margin:25px 0;
    
}

/* Circle image for info section left */
#circle-container {
    width: 300px;
    height: 300px;
    padding: 25px;
     border-style: solid;
     border-color: #596e79;
     border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
      
}
#circle-cover-bg {
    background: url('../images/circle-record.jpg')no-repeat center center;
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-size: cover;
}

/* Meet up section image */
#meetups {
    background-image: url('../images/footer-records.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

    }
#meetups div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .3);
    width: 20%;
    height: 300px;
    float: left;
    padding-top: 100px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    

}    
/* Footer */
#footer {
    height: 150px;
}

/* align footer links horizontally */

.socials {
    text-align: center;
}
.socials > li {
    display: inline;

} 
/* Footer styling to icons */
.socials i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #596e79;
}


/* Gallery */

#photos {
    clear: both;   /*sets to hover below header*/
    line-height: 0;
    column-count:2;
    column-gap: 0;
}
#photos > img {
    width:100%;
}